
html,body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
 /* ————————————顶部广告部分———————————— */
.alertbar {
	width: 100%;
	background: #000;
	text-align: center;
	position: relative;

}
.alertbar span {
	position: absolute;
	top: 5px;
	right: 100px;
	font-size: 20px;
	color: #666;
	cursor: pointer;
}
/* ————————————顶部导航部分———————————— */ 
.infobar {
	width: 100%;
	background: #ddd;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.infobar li {
	float: left;
	margin:10px 5px;
	padding-right: 8px;
	border-right: 1px solid #999;
	font-family: verdana,sans-serif;
}
.infobar li a {
    color: #999;
    text-decoration: none;
}
.infobar span {
	float: left;
	color: #999;
	font-size: 12px;
    margin: 10px 200px 10px 300px;
}
.infobar .iconfont:before {
	color: #f10215;
}
.info li:first-child, 
.info li:last-child {
	border: none;
	padding-right: 0;
}
.info li:nth-child(2) a {
	color: #f10215;
}
.info li:hover a {
    color: #f10215;
}

/* ————————————header部分———————————— */
header {
	position: relative;
	width: 1190px;
	margin: 0 auto;
}
header .logo {
	float: left;
	margin-top: -37px;
	width: 190px;
	height: 170px;
	background: #fff;
	box-shadow: 1px 0 1px 1px rgba(0,0,0,0.2)
}
header .searchbar {
	position: relative;
	float: left;
	margin-left: 131px;
	margin-top: 27px;
}
header .searchbar input {
	width: 490px;
	height: 35px;
	line-height: 35px;
   border: 1px solid #f10215;
}
header .searchbar span {
	position: absolute;
	right: 8px;
	top: 0;
	display: inline-block;
	width: 52px;
	height: 35px;
	background: #f10215;
	text-align: center;
}
header .icon-search:before {
	font-size: 25px;
	color: #fff;
}
header .hotwords {
	width: 550px;
	height: 20px;
	line-height: 20px;
	margin-top: 7px;
}
header .hotwords li {
	float: left;
}
header .hotwords li a {
	margin-right: 10px;
	text-decoration: none;
	color: #999;
}
header .hotwords a:hover  {
	color: #c81623;
}
header .hotwords li:first-child a {
	color: #f10215;
}
header .cart {
	float: left;
	color: #000;
}