* {
	margin: 0;
	padding: 0;
}
html,body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #666;
	background: #f6f6f6;
	font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    -webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
 /* ————————————顶部广告部分———————————— */
.alertbar {
	width: 100%;
	background: #000;
	text-align: center;
	position: relative;

}
.alertbar span {
	position: absolute;
	top: 5px;
	right: 100px;
	font-size: 20px;
	color: #666;
	cursor: pointer;
}
/* ————————————顶部导航部分———————————— */ 
.top-nav {
	width: 100%;
	background: #ddd;
}
.infobar {
	width: 1190px;
	margin: 0 auto;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.infobar li {
	float: left;
	margin:10px 8px;
	padding-right: 12px;
	border-right: 1px solid #999;
	font-family: verdana,sans-serif;
}
.infobar li a {
    color: #999;
}
.infobar span {
	float: left;
	color: #999;
	font-size: 12px;
    margin: 10px 229px 10px 210px;
}
.infobar .iconfont:before {
	color: #f10215;
}
.info li:first-child, 
.info li:last-child {
	border: none;
	padding-right: 0;
}
.info li:nth-child(2) a {
	color: #f10215;
}
.info li:hover a {
    color: #f10215;
}
.info li:nth-child(4):after,
.info li:nth-child(7):after,
.info li:nth-child(8):after {
	content: '>';
	color: #999;
	display: inline-block;
	-webkit-transform: rotate(90deg);

}

/* ————————————header部分———————————— */
header {
	position: relative;
	width: 1190px;
	margin: 0 auto;
}
header .logo {
	float: left;
	margin-top: -37px;
	width: 190px;
	height: 170px;
	background: #fff;
	box-shadow: 1px 0 1px 1px rgba(0,0,0,0.2)
}
header .searchbar {
	position: relative;
	float: left;
	margin-left: 131px;
	margin-top: 27px;
}
header .searchbar input {
	width: 490px;
	height: 35px;
	line-height: 35px;
   border: 1px solid #f10215;
}
header .searchbar span {
	position: absolute;
	right: 8px;
	top: 0;
	display: inline-block;
	width: 52px;
	height: 35px;
	background: #f10215;
	text-align: center;
}
header .icon-search:before {
	font-size: 25px;
	color: #fff;
}
/* 关键词 */
header .hotwords {
	width: 550px;
	height: 20px;
	line-height: 20px;
	margin-top: 7px;
}
header .hotwords li {
	float: left;
}
header .hotwords li a {
	margin-right: 10px;
	color: #999;
}
header .hotwords a:hover  {
	color: #c81623;
}
header .hotwords li:first-child a {
	color: #f10215;
}
/* 我的购物车 */
header .cart {
	float: left;
	color: #000;
}
header .cart p {
	position: relative;
	border: 1px solid #e3e4e5;
	background: #fff;
	width: 188px;
	height: 33px;
	line-height: 33px;
	color: #f10215;
	margin-left: 24px;
	margin-top: 27px;
	text-align: center;
}
header .cart p sup {
    position: absolute;
    top: 5px;
    left: 140px;
    display: inline-block;
    padding: 1px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 6px;
    min-width: 12px;
}
/* 二维码 */
header .qr-code {
	position: relative;
	float: left;
	margin-left: 28px;
	background: #f6f6f6;
	padding: 3px;
	padding-bottom: 0;
	border: 1px solid #ccc;
}
header .qr-code:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid #e4e4e4;
    border-left: 5px solid #e4e4e4;
    border-right: 5px solid #e4e4e4;
    border-bottom: 5px solid #f6f6f6;
    background: #fff;
}
/*头部导航栏*/
header .nav {
	float: left;
	margin-left: 41px;
	margin-top: 22px;
}
header .nav li {
	float: left;
	margin-right: 32px;
}
header .nav li a {
	color: #555;
	font-size: 16px;
	font-weight: 700;
}
header .nav .spacer {
	color: #ccc;
	margin: 2px 20px;
}
header .nav li:nth-child(4),
header .nav li:nth-child(9) {
	margin-right: 0;
}
header .nav li:hover a {
	color: #c81623;
}
/*头部小广告*/
header .adv {
	float: right;
    margin-top: 2px;
}
/* ————————————产品导航部分———————————— */
a {
	text-decoration: none;
}
.main-list {
	width: 1190px;
	margin: 0 auto;
}
.main-list .sidebar {
	width: 190px;
	background: #6e6568;
	color: #fff;
	float: left;
	margin-top: -1px;
}
.main-list .sidebar ul {
	padding: 16px 0;
}
.main-list .sidebar li a {
	font-size: 14px;
	color: #fff;	
}
.main-list .sidebar li  {
	height: 28px;
	line-height: 28px;
	padding-left: 12px;	
}
.main-list .sidebar a:hover {
	color: #c81623;
}
/* ————————————右边栏———————————— */
.main-list .right-side {
	width: 190px;
	float: right;
}
/* ————————————用户登录部分———————————— */
.main-list .user {
	padding: 0 15px 18px 15px;
    border-bottom: 1px solid #e6e6e6;
}
.main-list .login {
    padding: 15px 0;
}
.main-list .right-side .photo {
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	background-position: -70px 0;
    background-size: 156px 123px;
	background-image: url(https://misc.360buyimg.com/mtd/pc/index/home/images/sprite_userinfo@1x.png);
}
.main-list .right-side .photo img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 5px;
}
.main-list .right-side .login p {
	float: left;
	margin-left: 8px;
	margin-top: 6px;
	white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}
.main-list .right-side .login a {
	float: left;
	display: inline-block;
	margin-left: 8px; 
	color: #666;
}
.right-side .login a:hover {
	color: #c81623;
}
.right-side .btn a {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 20px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222;
}
.right-side .btn a:hover {
	background: #e01222;
	color: #fff;
}
.right-side .btn {
	font-size: 0;
}
.right-side .btn a:last-child {
	margin-right: 0;
}
/* ————————————新闻列表———————————— */
.right-side .news{
	width: 190px;
}
.right-side .news>ul {
	padding: 10px;
}
.right-side .news>ul li {
	float: left;
    color: #333;
    line-height: 14px;
	height: 14px;
	padding-right: 12px; 
	position: relative;
	cursor: pointer;

}
.right-side .news .items>li:first-child {
	border-right: 1px solid #dfe0e1;
}
.right-side .news .items>li:nth-child(2) {
	margin-left: 12px;
	margin-right: 48px;
}
.right-side .news .items>li:nth-child(3):hover {
    color: #c81623;
}
.right-side .news .hot-sale {
	position: absolute;
	top: 20px;
	left: 0;
	width: 160px;
	padding-top: 10px;
	border-top: 1px solid #e6e6e6;
}
.right-side .news .hot-sale>li {

    line-height: 24px;
    height: 24px;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.right-side .news .hot-sale>li a {
	color: #666;
}
.right-side .news .hot-sale>li a:hover {
	color: #c81623;
}
/* ————————————生活服务———————————— */
.right-side .services {
   width: 190px;
   margin-top: 120px;
   border-top: 1px solid #e6e6e6;
}
.right-side .services>ul li {
	float: left;
	padding: 6px 12px 6px 10px;
	border-right: 1px solid #e6e6e6;
	height: 22px;
	line-height: 22px;
}
.right-side .services>ul li:last-child {
	border-right: none;
}
.right-side .services .tel-charge {
	margin-top: 5px;
}
.right-side .services .tel-charge .charge {
	margin-left: 5px;
}
.right-side .services .tel-charge a {
    color: #666;
    display: inline-block;
    margin-right: 5px;
}
.right-side .services .tel-number {
	margin-top: 16px;
	margin-left: 5px;
}
.right-side .services .tel-number input {
	width: 83px;
	height: 20px;
	line-height: 20px;
    border: 1px solid #e7e7e7;
    padding: 0 4px;
}
.right-side .services .cost {
	margin-top: 10px;
	margin-left: 5px;
}
.right-side .services .charge-btn {
	display: block;
	margin-left: 5px;
	margin-top: 10px;
	background: #e01222;
	color: #fff;
	padding: 5px 8px;
}
